footer{
    padding-left: 20px;
    background-color: #fcfcfc;
    align-items: center;
}
.container{
    margin-left: 33%;
    margin-right: 41%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}
mat-button-toggle:hover {
    border: 1px #000 solid !important;
    background-color: #1890ff !important;
    border-radius: 5px !important;
    color: #fff;
}

